* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-color: cadetblue;
  font-size: 20px;
}

h1 {
  bottom: 100%;
  text-align: center;
  font-size: 5rem;
}

nav {
  margin: auto;
  position: relative;
  background-color: rgb(20, 20, 40);
  text-align: center;
  width: 40%;
  max-width: 650px;
  min-width: 350px;
  border-radius: 30%;
  border: 2px solid linen;
}

nav div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
}

nav div:not(:last-of-type) {
  margin-bottom: 4rem;
}

a, a:visited {
  color: khaki;
  text-decoration: none;
}

a:hover{
  color: linen;
  background-color: rgb(50, 50, 70);
  border: 1px solid linen;
}
