* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 100%;
  margin: 0;
  background-color: linen;
}

div.important {
  width: fit-content;
  text-align: center;
  margin: 2rem auto 2rem auto;
  padding: 1rem 0 1rem 0;
  font-size: 1.7rem;
  color: rgb(225, 0, 0);
  font-weight: bold;
  border-top: 8px double rgb(225, 0, 0);
  border-bottom: 8px double rgb(225, 0, 0);
}

.header {
  background: linear-gradient(transparent, rgba(100, 149, 237));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#please-read {
  font-size: 2em;
  color: rgb(225, 0, 0);
  text-shadow: 0 0 3px darkorange;
}

#pic {
  padding: 0;
  margin: 0 auto 0 auto;
  width: 600px;
  position: absolute;
  z-index: -1;
  left: 35%;
  top: 1150px;
}

@media screen and (max-width : 760px) {
  body {
    font-size: 14px;
  }
  div.important {
    font-size: 1.3rem;
  }
  #please-read {
    font-size: 1.5rem;
  }
  .header {
    background: none;
  }
}

@media screen and (max-width : 900px) {
  #pic {
    display: none;
  }
}

html {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: Adobe Arabic, sans-serif;
  font-size: 3em;
  margin-top: 1.5rem;
  position: relative;
}

h2 {
  width: 100%;
  text-align: center;
}

form{
  width: 100%;
  float: left;
  margin-left: 1rem;
}

textarea {
  display: block;
  margin-bottom: 2rem;
}

fieldset {
  width: fit-content;
  border: 2px solid grey;
  margin-bottom: 1rem;
}

div input:not(input[type="checkbox"]), select {
  margin-bottom: 1.3rem;
  width: fit-content;
}

.checkbox li {
  list-style: none;
}

.checkbox li:not(:last-of-type) {
  display: block;
  margin: 0 2rem 0.7rem 0;
}

.checkbox {
  padding: 0;
  margin: 0.5rem 0 0 0;
}

.info {
  display: block;
}

.rules {
  max-width: 1000px;
  margin: 0 1rem 1rem 1rem;
}

.rules p:nth-of-type(3),
.rules p:nth-of-type(4),
.rules p:nth-of-type(5),
.rules p:nth-of-type(6) {
  max-width: 1000px;
  border-top: 2px solid rgb(150, 0, 0);
  padding-top: 1rem;
}

/* footer {
  width: 100%;
  max-height: 5rem;
  background: linear-gradient(rgba(100, 149, 237, 0.5), rgba(255, 255, 255, 0.5));
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  top: 165%;
}

.foot {
  font-size: 1.7em;
  text-align: center;
} */

legend {
  text-align: left;
  margin: 0;
}

textarea {
  max-height: 20vh;
}

input[type="submit"] {
  width: 5rem;
  height: 2rem;
  margin-bottom: 5rem;
}
