* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 100%;
  margin: 0;
}

@media screen and (max-width : 760px) {
  body {
    font-size: 14px;
  }
}

html {
  height: 100%;
  margin: 0;
}

div.important {
  width: 100%;
  text-align: center;
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  color: rgb(225, 0, 0);
  font-weight: bold;
}

.header {
  background: linear-gradient(rgb(255, 255, 255), rgba(100, 149, 237, 0.5));
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

}

h1 {
  text-align: center;
  font-family: Adobe Arabic, sans-serif;
  font-size: 3em;
  margin-top: 1.5rem;
  position: relative;
}

#please-read {
  font-size: 2em;
  color: rgb(225, 0, 0);
  text-shadow: 0 0 3px darkorange;
}

h2 {
  width: 100%;
  text-align: center;
}

form{
  width: 100%;
  float: left;
  margin-left: 1rem;
}

textarea {
  display: block;
  margin-bottom: 2rem;
}

fieldset {
  width: fit-content;
  border: 2px solid #ccc;
  margin-bottom: 1rem;
}

div input:not(input[type="checkbox"]) {
  margin-bottom: 1.3rem;
  width: fit-content;
}

.checkbox li {
  list-style: none;
}

.checkbox li:not(:last-of-type) {
  display: block;
  margin: 0 2rem 0.7rem 0;
}

.checkbox {
  padding: 0;
  margin: 0.5rem 0 0 0;
}

.info {
  display: block;
}

.rules{
  width: 98%;
  margin: 0 1rem 1rem 1rem;
}

/* footer {
  width: 100%;
  max-height: 5rem;
  background: linear-gradient(rgba(100, 149, 237, 0.5), rgba(255, 255, 255, 0.5));
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  top: 165%;
}

.foot {
  font-size: 1.7em;
  text-align: center;
} */

legend {
  text-align: left;
  margin: 0;
}

textarea {
  max-height: 20vh;
}

input[type="submit"] {
  width: 5rem;
  height: 2rem;
  margin-bottom: 5rem;
}
